git+https://github.com/huggingface/accelerate.git
git+https://github.com/huggingface/peft.git
transformers-stream-generator
transformers==5.7.0
huggingface_hub
qwen-vl-utils
sentencepiece
opencv-python
torchvision
matplotlib
requests
tokenizers
hf_xet
einops
spaces
pillow
gradio
torch==2.10.0
timm
av